.scroll {
    display: flex;
    padding: 25px;
    z-index: 10;
  }
  
  .scrollTitle {
    margin: 8px;
  }

  .scrollTitleContainer {
    display: flex;
    align-items: center;
    color: white;
    margin: 8px;
  }

  .Title__arrow {
    opacity: 0;
  }

  .scrollTitleContainer:hover > .Title__arrow {
    opacity: 1;
    transition: all 500ms ease;
  }

  .item {
    flex: 0 0 15%;
    background-size: 100% 100%;
    /* text-align: center; */
    margin: 0 8px;
    transition: transform 300ms ease 100ms;
    height: 250px;
    object-fit: stretch;
    display: inline-block
  }


.scroll:hover .item {
    transform: translateX(-25%);
 }

 .item:hover ~ .item {
    transform: translateX(25%);
 }


.item:hover {
    transform: scale(1.25) !important;
  }

.scroll {
    overflow-x: scroll;
}

@media (max-width: 650px) {
  .item {
    flex: 0 0 42%;
  }

}