.container {
    height: 600px;
    width: 100%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}

.itemButton > button {
    width: 150px;
}

.item__info {
    width: 50%;
    padding: 40px;
    padding-top: 200px;
}

.item__plot,
.item__title {
    color: white;
}
.item__title {
    font-size: 42px;
}

.item__plot {
    font-size: 14px;
}

#more {display: none;}
#myBtn {
    background-color: transparent;
    border: none;
    color: white;
}
.itemButtons {
    display: flex;
}

.itemButton {
    margin: 8px;
}

@media (max-width: 650px) {
    .item__title {
      font-size: 24px;
    }

    .item__plot {
        font-size: 12px;
    }
    
    .itemButtons {
        margin: 4px;
        display: flex;
        flex-direction: column;
    }
    
    .itemButton > button {
        font-size: 12px;
        width: 100%;
    }

  }